<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="email" value="ilanmg@artlist.io"/>
  	<parameter name="password" value="098765"/>
  	 <classes>
      <class name="Artlist.SignInTest"/>
    </classes>
  </test> <!-- Test -->
   <listeners>
  	    <listener class-name="Artlist.Listeners"/>
  	    <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
</suite> <!-- Suite -->
